/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/FullFrame.jpg');
    background-size: cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 3.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* Style for the transparent button */
.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white; /* Text color */
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 3s, border-color 30s;
}

/* Hover effect */
.download-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: black;
  color: blue;
}


.imageAboutPage{
   width: 100px;
}
/* spacing on all sections */
 #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} 
.range{
    height: 40vh;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: center;
   /*background : #e3edf7;*/
}
.skill{
width: 160px;
height: 160px;
position: relative;
/*background-color: cornflowerblue;*/
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7)
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
               inset -4px -4px 6px -1px rgba(255,255,255,0.7), 
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05) 
}

#number{
    font-weight: 600;
    color: #445;
}

#Firstprogress {
    fill: none;
    stroke: url(#GradientColorOne);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 400;
    animation: animOne 2s linear forwards;
}

#Secondprogress{
    fill: none;
    stroke: url(#GradientColorTwo);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 400;
    animation: animTwo 2s linear forwards;
}

#Thirdprogress{
    fill: none;
    stroke: url(#GradientColorThree);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 400;
    animation: animThree 2s linear forwards;
}
#FourthProgess{
    fill: none;
    stroke: url(#GradientColorFour);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 400;
    animation: animFour 2s linear forwards;
}

#FivthProgess{
    fill: none;
    stroke: url(#GradientColorFive);
    stroke-width: 20px;
    stroke-dasharray: 472; 
    stroke-dashoffset: 472;
    animation: animFive 2s linear forwards;
}

#SixthProgess{
    fill: none;
    stroke: url(#GradientColorSix);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 400;
    animation: animSix 2s linear forwards;
}


/*circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440; 
    stroke-dashoffset: 440;
    animation: anim 2s linear forwards;
}
*/
svg{
    position:  absolute;
    top: 0;
    left: 0;
}

@keyframes animOne{
  100%{
    stroke-dashoffset: 128; 
  }
    }

@keyframes animTwo{
   100%{
     stroke-dashoffset: 190; 
        }
          }
 @keyframes animThree{
    100%{
        stroke-dashoffset: 210; 
        }
     }
 @keyframes animFour{
    100%{
        stroke-dashoffset: 80; 
        }
      }
 @keyframes animFive{
   100%{
      stroke-dashoffset: 80; 
     }
   }
    @keyframes animSix{
   100%{
       stroke-dashoffset: 190; 
     }
      }

#contact{
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
    border: flex;
    border-style: hidden;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
  color: #008000 ;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 30px;
    cursor: pointer;
}

.fa-facebook:hover{
    color: #1877F2; 
}
.fa-instagram:hover{
        color: #C13584;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-linkedin:hover{
    color: #0A66C2;
}
.fa-githup:hover{
    color: dark black;
}

.fab {
    color: #000000;
    hight: 100px;
}
/* footer styling */
#footer {
    text-align: center;
}
